/* App.css */

:root {
  --primary-color: #031928;
  --secondary-color: #e74c3c;
  --background-color: #f8f8f8;
  --text-color: #333;
  --footer-color: #444;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}


header {
  background-color: transparent;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  background-color: var(--primary-color); /* Change this to your desired color */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

header.sticky {
  margin-top: 60px; /* Adjust this value based on your header's height */
}

.hero {
  background-image: url('/src/assets/hero1.jpg');
  background-size: cover;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 5rem 0;
  width: 100%; /* Increase the width to 100% */
  margin: 0 auto; 
  height: 50vh;
}

.hero-content {
  color: white;
}

.hero h1 {
  font-size: 3rem;
}



.about {
  background-color: var(--background-color);
  padding: 5rem 0;
  text-align: center;
}

.about-content {
  color: var(--text-color);
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .image-container {
  position: relative;
  display: inline-block;
}

.about .image-container img {
  max-width: 100%;
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out;
}

.about .image-container figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
}

.about .image-container:hover img {
  transform: scale(1.05);
}
.about .image-container:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

.about img {
  max-width: 100%;
  margin-top: 1rem;
}
/* .about img:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
} */
.section {
  padding-top: 60px; /* Adjust this value based on your header's height */
}


.contact {
  padding: 5rem 0;
  text-align: center;
}

/* Adding contrasting text color */
.contact-content {
  color: var(--text-color);
}

.contact-content {
  max-width: 400px;
  margin: 0 auto;
}

.contact input,
.contact textarea,
.contact button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


footer {
  background-color: var(--footer-color);
  color: white;
  text-align: center;
  padding: 1rem;
}
